{% extends "base.html" %}
{% block title %}Политика за поверителност{% endblock %}

{% block content %}
<div class="container py-5 fs-6">
  <h2>Политика за поверителност</h2>
  <p>FermaMarket се ангажира с опазване на личните данни на своите потребители.</p>
  <ul>
    <li>Използваме лични данни само за обработка на поръчки и комуникация.</li>
    <li>Никога не предоставяме лични данни на трети страни без основание.</li>
    <li>Данните се съхраняват защитено и се използват съгласно GDPR.</li>
    <li>Всеки потребител има право да поиска промяна или изтриване на данните си.</li>
  </ul>
</div>
{% endblock %}
