{% extends "base.html" %}
{% block title %}Доставка и условия{% endblock %}

{% block content %}
<div class="container py-5 fs-6">
  <h2>Доставка</h2>
  <p>FermaMarket предоставя гъвкави условия за доставка на продукти от локални фермери.</p>
  <ul>
    <li>Всяка поръчка се доставя директно от фермера до клиента.</li>
    <li>Времето за доставка зависи от региона и наличностите.</li>
    <li>Фермерът ще се свърже с клиента за уточняване на точната дата и начин на доставка.</li>
    <li>Цената за доставка се уточнява индивидуално или е включена в крайната цена.</li>
  </ul>
</div>
{% endblock %}
